.UserCard {
    border-radius: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 24px;
    min-height: 315px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.01);
    }
}

.info {
    list-style-type: none;
    margin-top: 32px;

    &__item {
        color: #8189a3;
        display: flex;
        align-items: center;
        gap: 14px;
        margin: 10px 0;
    }
}
