@font-face {
    font-family: "Proxima Nova";
    font-weight: normal;
    src: local("Proxima Nova"), url(./../public/fonts/Proxima_Nova.ttf) format("opentype");
}

@font-face {
    font-family: "Proxima Nova Bold";
    font-weight: normal;
    src: local("Proxima Nova Bold"), url(./../public/fonts/Proxima_Nova_bold.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova";
}
